<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Ready to transform your space into a spotless haven?
        </h2>
        <p>
            At WolfCreek Clean, we make it easy to get the professional cleaning services you deserve.
            Whether it’s a deep clean for your home or a regular maintenance plan for your office, we’re here to help! Click the button below to get started on a cleaner, healthier environment today.

        </p>
        <a href="/contact" class="cs-button-solid">Get an Estimate Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cta.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cta.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/cta.jpg" alt="Call to Action" loading="lazy" width="2500" height="1667">
    </picture>

</section>