---
title: 'Wolfcreek Cleaning'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-143">
        <div class="cs-container">
            <h1 class="cs-title">Wolfcreek Cleaning Services</h1>
            <p class="cs-text">
                At Wolfcreek Cleaning Services, we provide top-quality residential and commercial cleaning throughout Calgary. From homes to offices, our expert team ensures spotless results every time, using eco-friendly products for a healthier environment.
            </p>
            <a href="/contact" class="cs-button-solid">Get in Touch</a>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/mainImage.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/mainImage.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/mainImage.jpg" alt="Main Landing Image" width="2250" height="1500" aria-hidden="true">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="h-services-143">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/toolbox.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">Residential Cleaning</h2>
                <p class="cs-text">
                    Our residential cleaning services in Calgary offer thorough home cleaning, from kitchens to bedrooms, leaving your house spotless and fresh. Book reliable and affordable house cleaning today!
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/buildings.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">Commerical Cleaning</h2>
                <p class="cs-text">
                    We provide professional commercial cleaning for Calgary offices and businesses, ensuring a clean, hygienic workspace. Trust us for efficient office cleaning services that meet your business needs.
                </p>
            </li>
        </ul>
    </section>
                                

    {% include 'components/cta.html' %}
{% endblock %}