/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-r-869 {
        padding: var(--sectionPadding);
        /* clips overlapping cs-image-group */
        overflow: hidden;
        background-color: var(--backgroundColor);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            /* 20 characters wide including spaces */
            max-width: 20ch;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-ul {
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            padding: 0;
            columns: 2;
        }

        .cs-li {
            list-style: none;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: calc(12 / 16 * 1rem);
            position: relative;

            &:before {
                /* accent shape */
                content: "";
                width: calc(8 / 16 * 1rem);
                height: calc(8 / 16 * 1rem);
                margin-top: calc(8 / 16 * 1rem);
                background: #bababa;
                border-radius: calc(4 / 16 * 1rem) 0 calc(4 / 16 * 1rem) 0;
                display: block;
                /* prevents flexbox from squishing it */
                flex: none;
            }
        }

        .cs-image-group {
            /* using ems so we can scale the whole section using a font size min/max. Font size (.61em) max changes at desktop */
            font-size: min(1.61vw, 0.61em);
            width: calc(898 / 16 * 1em);
            height: calc(814 / 16 * 1em);
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            position: relative;

            &:before {
                /* accent shape */
                content: "";
                width: calc(299 / 16 * 1em);
                height: calc(234 / 16 * 1em);
                background: var(--primary);
                border-radius: 0 calc(100 / 16 * 1em) 0 calc(100 / 16 * 1em);
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                left: calc(459 / 16 * 1em);
            }
        }

        .cs-left-img {
            width: calc(439 / 16 * 1em);
            height: calc(560 / 16 * 1em);
            border-radius: calc(200 / 16 * 1em) 0 calc(200 / 16 * 1em) 0;
            /* clips img corners */
            overflow: hidden;
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                /* flips it horizontally the opposite of the parent. This way images have the same orientation as the source image */
                transform: scaleX(-1);
            }
        }

        .cs-right-img {
            width: calc(439 / 16 * 1em);
            height: calc(560 / 16 * 1em);
            border-radius: 0 calc(200 / 16 * 1em) 0 calc(200 / 16 * 1em);
            /* clips img corners */
            overflow: hidden;
            display: block;
            transform: translateY(6.25em);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* flips it horizontally the opposite of the parent. This way images have the same orientation as the source image */
                transform: scaleX(-1);
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-r-869 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-image-group {
            font-size: min(0.8vw, 1em);
            /* prevents flexbox from squishing it */
            flex: none;
            order: 2;
        }
    }
}

/* Large Desktop 1500px */
@media only screen and (min-width: 93.75rem) {
    #sbs-r-869 {
        .cs-container {
            justify-content: flex-end;
        }

        .cs-image-group {
            font-size: inherit;
            /* The cs-image-group is actually REALLY big. It's so big, the design has it overlapping the normal 1280px container by 220px.  This is just a design choice that "breaks" the container and creates a more dynamic design and website. */
            transform: translateX(13.75rem);
        }

        .cs-content {
            /* we absolutely position the cs-content so the cs-image-group can remain position relative and dictate the height of the section. Since the cs-content is smaller in height, if it remained relative then the height of the container would only be as tall as the .cs-content and the absolutely positioned cs-image-group would overlap into the top and bottom neiboring sections. */
            flex: none;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}

                                

/*-- -------------------------- -->
<---       Why Choose Us        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-375 {
        padding: var(--sectionPadding);
        overflow: hidden;
        background-color: var(--backgroundColor);

        @keyframes floatAnimation {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-2em);
            }
            100% {
                transform: translateY(0);
            }
        }
        @keyframes floatAnimation2 {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-1em);
            }
            100% {
                transform: translateY(0);
            }
        }

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: calc(24 / 16 * 1rem);
        }

        .cs-item {
            list-style: none;
            text-align: left;
            width: 100%;
            margin-right: 0;
            /* 24px - 32px */
            padding: clamp(1.5rem, 4vw, 2rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            border: 1px solid #e8e8e8;
            border-radius: calc(16 / 16 * 1rem);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: calc(16 / 16 * 1rem);
            transition:
                background-color 0.3s,
                transform 0.3s;

            &:hover {
                background-color: var(--primary);
                transform: scale(1.05);

                .cs-bullet {
                    filter: grayscale(1) brightness(1000%);
                }
                .cs-h3,
                .cs-item-text {
                    color: #fff;
                }
            }
        }

        .cs-bullet {
            width: calc(19 / 16 * 1rem);
            height: auto;
            margin-top: calc(2 / 16 * 1rem);
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2.2vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }

        .cs-image-group {
            /* everything in the group is in ems so we can scale them down with this min/max font size tied to the view width */
            font-size: min(2.3vw, 1em);
            width: calc(579 / 16 * 1em);
            height: calc(588 / 16 * 1em);
            position: relative;
            /* sends it to the top above the content */
            order: -1;
        }

        .cs-splash {
            width: calc(570 / 16 * 1em);
            height: calc(586 / 16 * 1em);
            opacity: 0.1;
            position: absolute;
            left: calc(5 / 16 * 1em);
            top: 0;
        }

        .cs-blob {
            width: calc(392 / 16 * 1em);
            height: calc(497 / 16 * 1em);
            position: absolute;
            right: calc(0 / 16 * 1em);
            top: calc(10 / 16 * 1em);
        }

        .cs-lightning {
            width: calc(64 / 16 * 1em);
            height: calc(103 / 16 * 1em);
            position: absolute;
            right: calc(40 / 16 * 1em);
            top: calc(8 / 16 * 1em);
            transform: rotate(23deg);
        }

        .cs-left-image {
            width: calc(211 / 16 * 1em);
            height: calc(211 / 16 * 1em);
            border-radius: 50%;
            /* cover the 1px gap between border and image */
            background-color: #f7f7f7;
            border: 12px solid var(--primary);
            /* clips image to the circle */
            overflow: hidden;
            position: absolute;
            left: calc(-12 / 16 * 1em);
            top: calc(131 / 16 * 1em);
            z-index: 10;
            animation-name: floatAnimation2;
            animation-duration: 6s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }

        .cs-bottom-image {
            width: calc(180 / 16 * 1em);
            height: calc(180 / 16 * 1em);
            border-radius: 50%;
            /* cover the 1px gap between border and image */
            background-color: #f7f7f7;
            border: 12px solid var(--primary);
            /* clips image to the circle */
            overflow: hidden;
            position: absolute;
            right: calc(180 / 16 * 1em);
            bottom: calc(-12 / 16 * 1em);
            z-index: 10;
            animation-name: floatAnimation;
            animation-duration: 10s;
            animation-delay: 1s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }

        .cs-person {
            width: calc(386 / 16 * 1em);
            height: auto;
            position: absolute;
            right: calc(46 / 16 * 1em);
            bottom: calc(150 / 16 * 1em);

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-mask {
            width: calc(383 / 16 * 1em);
            height: calc(173 / 16 * 1em);
            position: absolute;
            right: calc(-33 / 16 * 1em);
            bottom: calc(43 / 16 * 1em);
            z-index: 2;
        }
        
        .path {
            background-color: var(--backgroundColor);
        }

        .click-box {
            text-decoration: none;
            
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #why-choose-375 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        .cs-image-group {
            font-size: min(1.1vw, 1em);
            /* prevents flexbox from squishing it */
            flex: none;
        }
    }
}

                                